* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  padding: 24px;
  text-align: center;
  font-size: 14px;
}

@media (min-width: 800) {
}

@media (max-width: 600) {
}